body {
    background-color: #1e1e1e;
    color: #dcdcdc;
}

h1 {
    padding: 0.4em 0.5em;
    background: #268ab6;
    border-left: solid 5px #94afba;
    border-bottom: solid 3px #0072a4;
}

h2 {
    background: linear-gradient(transparent 70%, #679eb6 70%);
}

h3 {
    border-left: 5px solid #679eb6;
    padding-left: 20px;
}

a {
    color: #5da6f8;
}

blockquote {
    position: relative;
    padding: 5px 12px 5px 56px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    background: #f0f7ff;
}

blockquote:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 36px;
    height: 36px;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    content: "\f10d";
    font-family: FontAwesome;
    color: #FFF;
    font-size: 20px;
    line-height: 36px;
    background: #a5d7ff;
    border-radius: 50%;
    font-weight: 900;
}

blockquote p {
    position: relative;
    padding: 0;
    margin: 10px 0;
    z-index: 3;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

th, td {
    border: solid 1px #94afba;
}

table {
    border: solid 1px #94afba;
    border-collapse: collapse;
}